/* COMMON CSS PROPERTY OF ALL SUBWEBSITES */
body{
    margin: 0px;
    padding: 0px;
    background: url('pineapple.jpg') no-repeat;
    background-attachment: scroll;
    background-size: 100%;
}
header {
    background: indigo;
    position: sticky;
    top: 0;
    z-index: 200;
}
.topleft {
    color: antiquewhite;
    display: inline-block;
    position: absolute;
    top: 28px;
    left: 35px;
    font-size: 22px;
    font-family: 'Langar', cursive;
}
.navbar {
    border: 2px solid indigo;
    color: whitesmoke;
    font-family: "Ubuntu", sans-serif;
    display: inline-block;
    width: 38%;
    margin-top: 20px;
    margin-left: 400px;
    margin-right: 400px;
}
.navbar ul {
    display: inline-block;
}
.navbar li{
    list-style: none;
    display: inline-block;
}
.navbar li a {
    text-decoration: none;
    color: whitesmoke;
    padding-left: 11px;
    padding-right: 11px;
    padding-bottom: 11px;
}
.navbar li a:hover {
    background-color: rgba(192, 192, 192, 0.305);
}
.topright {
    display: inline-block;
    position: absolute;
    top: 28px;
    right: 5px;
    width: 172px;
}

/* Head content is over here but the below button property is also same for all register and login */

.btn{
    color: blanchedalmond;
    background: inherit;
    border-radius: 34px;
    font-size: 15px;
    font-family: 'Titillium Web', sans-serif;
}
.btn:hover {
    cursor: pointer;
    background: grey;
}
.footer {
    background-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    color: purple;
    text-align: center;
}

/* Special effects to highlight that now home tab is opened */

#contact {
    color: darkkhaki;
}

/* Now special effects for the contents in the current tab that is opened */

.container {
    /* border: 2px solid red; */
    height: 630px;
    position: relative;
}
.pic {
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -68%);
    z-index: 1;
}
#logo {
    width: 200px;
    height: 200px;
}
.content {
    /* border: 2px solid red; */
    background-color: #0e021a;
    font-family: 'Fredoka One', cursive;
    font-size: 1.5rem;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -40%);
    z-index: 0;
    width: 614px;
    height: 300px;
}
#contactus {
    color: darkmagenta;
    text-align: center;
}
.flexbox {
    /* border: 2px solid white; */
    display: flex;
    flex-flow: row nowrap;
}
.png {
    width: 50px;
    height: 50px;
    filter: invert(100%);
}
.centerthings {
    align-content: center;
    text-align: center;
    justify-content: space-evenly;
}
.things {
    /* border: 2px solid white; */
    font-family: 'Courier New', Courier, monospace;
    color: aquamarine;
    font-size: 1rem;
    width:200px;
}